.header {
    background-color: #2a59fe;
    padding-top: 10px;
    padding-bottom: 10px;
    a {
        text-decoration: none;
    }
    h3 {
        color: #fff;
        font-weight: 700;
    }
    p {
        color: #fff;
    }
}
