@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: #f9f9f9 !important;
  height: 100%;
}

img,
video {
  max-width: 100%;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold !important;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

main {
  margin-top: 75px;
}

section:not(:first-of-type) {
  margin-top: 5rem;
}

@media screen and (max-width: 870px) {
  html,
  body {
    font-size: 13px;
  }
}
